<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="body2">
        <h1><i class="fa-solid fa-circle-check"></i></h1>
        <div class="content">
            <h1>THANK YOU</h1>
            <h2 class="table">YOUR TABLE BOOKED SUCCESSFULLY</h2>
            <p>Check through the email for Table Details</p>
            <button onclick="window.location.href='/'">Back</button>
        </div>
    </div>
    
</body>
</html>